body {
  color: white;
  font-family: Arial;
  font-size: 16px;
  background: #002533;
}

h1, h2, h3 {
  color: teal;
  font-family: Courier New;
}

footer {
  font-color: #002533;
  font-family: Arial:;
  font-size: 12px;
  background: white;
}
