body {
  color: white;
  font-family: Lucida Console, Courier New, monospace;
  font-size: 16px;
  background: #152535;
}
h1, h2, h3 {
  color: white;
}
div {
  white-space: pre-wrap;
}
a {
  color: lightblue;
  font-style: italic;
  text-decoration: none;
}
.fw {
  max-width: 100%;
  height: auto;
}